<h2>Angular Router Demo</h2>

<nav>
  <ul>
    <li>
      <a routerLink="/header" routerLinkActive="active">Header</a>
    </li>
    <li>
      <a routerLink="/footer" routerLinkActive="active">Footer</a>
    </li>
    <li>
      <a routerLink="/product" routerLinkActive="active">Product</a>
    </li>
    <li>
      <a routerLink="/productlist" routerLinkActive="active">Product List</a>
    </li>
    <li>
      <a routerLink="/customers" routerLinkActive="active">Customers</a>
    </li>
    <li>
      <a routerLink="/orders" routerLinkActive="active">Orders</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>